 /* CSS du Portfolio de Lorenzo Ottaviani */

 /* Importations de polices et backgrounds */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'EthnoFont';
    src: url('./fonts/ethnocentric_rg.otf'); /* IE9 Compat Modes */
}

/* Définition de variables */

:root {
    --bleu-1: #96D3FF;
    --bleu-2: #89FFF9;
    --police-titres: Lexend Tera;
}

/* Configurations par défault */

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

main {
    margin: 25px;
}

/* En tête */

header {
    height: 100px;
    background: linear-gradient(to bottom, var(--bleu-2), var(--bleu-1));
    align-content: center;

    nav{
        display: flex;
        justify-content: space-around;
    
        a{
            font-size: 40px;
            text-decoration: none;
            font-family: var(--police-titres);
        }
    }   
}

/* Titre principal */

h1 {
    font-size: 90px;
    font-family: Segoe Print;
    text-align: center;
}

/* Titres secondaires */

h2 {
    font-size: 40px;
    font-family: var(--police-titres);
    text-align: center;
}

/* Section diaporama des projets */

.projets_titre {
    margin: 20px 0;
}

.projets_diaporama {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    grid-template-areas:
        "case1 case2 case3 case4"
        "case5 case6 case7 case8"
        "case9 case10 case11 case12";
}

/* Placement explicite de chaque case */
#case1  { grid-area: case11; }
#case2  { grid-area: case5; }
#case3  { grid-area: case12; }
#case4  { grid-area: case1; }
#case5  { grid-area: case9; }
#case6  { grid-area: case6; }
#case7  { grid-area: case4; }
#case8  { grid-area: case7; }
#case9  { grid-area: case2; }
#case10 { grid-area: case3; }
#case11 { grid-area: case8; }
#case12 { grid-area: case10; }

/* Style de chaque case */
.diapos {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-radius: 20px;
    padding: 10px;
    background-color: #f9f9f9;
}

.wiggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.wiggle img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}


/* Section liste des projets */

.projets_liste {

    article {
        margin: 30px 20px;
        border-radius: 20px;
        border: thin solid lightgrey;
        padding: 5px 15px;

        p{
            text-align: justify;
            font-family: Cascadia code;
            margin: 10px 0;
        }

        a{
            display: flex;
            justify-content: center;
            font-family: Cascadia code;
            text-decoration: none;
            font-size: 20px;
        }
    }

}

/* Section parcours */

.parcours {

    border-top: grey solid ;
    border-bottom: grey solid ;
    margin: 30px 0;
    padding: 10px 0;

    p {
        text-align: justify;
        font-family: Cascadia code;
        margin: 10px 20px;
    }

}

/* Section compétences */

.competences {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    
    section{

        h3{
            margin: 10px 0;
            text-align: center;
            font-size: 20px;
            font-family: Arial;
        }
        ul{
            margin: 10px 0;

            li{
                margin: 5px 0;
                font-family: Calibri;
                font-size: 18px;
            }

        }

    }

}

/* Section contact */

.contact{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.logo{
    height: 50px;
}

/* Pied de page */

footer {
    height: 100px;
    background: linear-gradient(to top, var(--bleu-2), var(--bleu-1));
}

/* Version pour portables et tablettes */

@media only screen and (max-width: 1200px) {
    header {
        nav {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            a {
                font-size: 20px;
            }
        }
    }

    h1 {
        font-size: 50px;
    }

    .competences {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

/* Grille des projets adapté aux tablettes */

@media screen and (max-width: 1599px) {
    .projets_diaporama {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "case1 case2"
            "case3 case4"
            "case5 case6"
            "case7 case8"
            "case9 case10"
            "case11 case12";
    }
}

/* Grille des projets adapté aux portables */

@media screen and (max-width: 767px) {
    .projets_diaporama {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, auto);
        grid-template-areas:
            "case1"
            "case2"
            "case3"
            "case4"
            "case5"
            "case6"
            "case7"
            "case8"
            "case9"
            "case10"
            "case11"
            "case12";
    }

    .wiggle img {
        max-width: 80vw;
    }
}
